.home {
    height: 80%;
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4rem 3rem;
    border-radius: 20px;
    padding-left: 2rem;
    box-shadow: 0 0 10px black;
}

.home .input-box {
    width: 30%;
    height: 8%;
    border-radius: 50px;
    padding-left: 1rem;
    font-size: 1.2rem;
}

tbody tr th {
    background-color: darkseagreen;
    color: white;
    padding: .4rem;
    font-size: 1.3rem;
    
}

tbody tr:nth-child(odd) {
    background-color: rgb(165, 158, 158);
    font-size: 1.3rem;

}

tbody tr:nth-child(even) {
    font-size: 1.3rem;
    background-color: #d6d4d6;
}

.rightArrow {
    /* border: 2px solid red; */
    transition: .5sec;
}

.rightArrow :hover {
    color: white;
}

.nextpage {
    border: 1px solid black;
    height: 70%;
    width: 45%;
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    padding-left: 3rem;
    box-shadow: 0 0 10px black;

}

.nextpage .tabel-div {
    border: 1px solid black;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}
.nextpage h1{
    padding-bottom: .5rem;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
@media only screen and (min-width:950px) and (max-width:1325px){
    .home{
        /* background-color: aqua; */
        height: 80%;
        width: 90%;
       
    }
    .home .input-box{
        width: 40%;
    }
    .nextpage{
        /* background-color: aqua; */
        height: 80%;
        width: 65%;
    }
}
@media only screen and (min-width:743px) and (max-width:950px){
    .home{
        /* background-color: aqua; */
        height: 80%;
        width: 90%;
        margin: 3rem 2rem;
    }
    .home .input-box{
        width: 40%;
    }
    .nextpage{
        /* background-color: aqua; */
        height: 80%;
        width: 65%;
    }
}
@media only screen and (min-width:520px) and (max-width:744px){
    .home{
        /* background-color: aqua; */
        height: 80%;
        width: 90%;
        margin: 1rem 2rem;
    }
    .home .input-box{
        width: 50%;
        font-size: 1.1rem;
    }
    .nextpage{
        /* background-color: aqua; */
        height: 80%;
        width: 75%;
    }
    
    tbody tr th {
       
        padding: .4rem;
        font-size: 1rem;
        
    }
    tbody tr:nth-child(odd) {
        font-size: 1rem;
    
    }
    
    tbody tr:nth-child(even) {
        font-size: 1rem;
    }
    
}
@media only screen and (min-width:370px) and (max-width:520px){
    .home{
        background-color: aqua;
        height: 80%;
        width: 95%;
        margin: 1rem 1rem;
        padding-left: 1rem;
    }
    .home .input-box{
        width: 60%;
        font-size: 1rem;
        height: 8%;
    }
    .nextpage{
        background-color: aqua;
        height: 65%;
        width: 85%;
        margin: 1rem 1rem;
    }
    
    tbody tr th {
       
        padding: .4rem;
        font-size: .8rem;
        
    }
    tbody tr:nth-child(odd) {
        font-size: .8rem;
    
    }
    
    tbody tr:nth-child(even) {
        font-size: .8rem;
    }
}
@media only screen and (min-width:280px) and (max-width:370px){
    .home{
        background-color: aqua;
        height: 80%;
        width: 100%;
        margin: 0;
        padding-left: .5rem;
    }
    .home .input-box{
        width: 60%;
        font-size: 1rem;
        height: 8%;
    }
    .nextpage{
        background-color: aqua;
        height: 65%;
        width: 85%;
        margin: .5rem .5rem;
        padding-left: 1rem;
    }
    
    tbody tr th {
       
        padding: .4rem;
        font-size: .7rem;
        
    }
    tbody tr:nth-child(odd) {
        font-size: .7rem;
    
    }
    
    tbody tr:nth-child(even) {
        font-size: .7rem;
    }
    .nextpage .tabel-div {
        width: 90%;
        height: 70%;
    }
}